
<h1> This is a homepage, created by Wilson Barangi </h1>
<%= link_to 'About', welcome_about_path %>
<h1>Default Index Page</h1>

<p>This is the default index.html page for your hosting package. You can edit or delete it in the file manager in your control panel.</p>